.card-tracklist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    margin: 20px;
    grid-column: 2;
    padding-bottom: 50px;  
  }
  
  .tracklist-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1; 
  }
  .card-info {
    margin: 30px 0px 0 80px;
  }
  .listen-counter {
    background-color: rgb(255, 255, 255);
    width: 55px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 5px 10px;
    position: relative; 
    bottom: 50px; 
    left: 210px;
  }
  .dropdown-container {
    position: relative; 
    z-index: 1000;
  }
  .block-menu-playlist {
    position: relative;
    top: 55px; 
    right: 45px; 
  }
  .menu-playlist {
    background-color: rgb(183, 184, 184);
    height: 10px;
    width: 50px;
    border-radius: 25px;
    transform: rotate(90deg);
    border: none;
  }
  .playlist-cover img {
    height: 280px;
    width: 280px;
    border-radius: 30px;
    position: relative;
  }
  .playlist-info p {
    font-size: 35px;
    height: 15px;
    text-align: center;
    margin-top: -15px;
  }
  .tracklist {
    margin: 42px 20px 0 25px;
    min-width: 810px;
  }