.page-recovery{
    background-color: rgb(50, 0, 249); 
    display: flex; 
    flex-direction: column; 
    height: 720px;
}
.card-recovery, .card-recovery-component{
    background-color: rgb(255, 255, 255); 
    display: flex; 
    flex-direction: column; 
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    align-content: center;

}
.card-recovery {
    height: 400px; 
    width: 500px;  
    margin:auto; 
    padding:20px 30px;
}