.songs-list{
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    flex: 1;
}
.every-song-in-list{
   width: 1300px;
    background-color: rgb(233, 233, 233);
    padding: 20px 15px;
    border-radius: 20px;
    margin: auto 20px auto 20px;
}